@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

@import "tailwindcss";


canvas {
  display: block;
  height: 100vh !important;
  width: 100vw !important;
}